<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968505919685-tralcmigbtfam4hoa6p6oftlhctvjl85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968505919685-tralcmigbtfam4hoa6p6oftlhctvjl85</string>
	<key>API_KEY</key>
	<string>AIzaSyCP5evN-jFB5zsPl0wKNhwODInBPZlT-GA</string>
	<key>GCM_SENDER_ID</key>
	<string>968505919685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratovic.adnann.MTBRide</string>
	<key>PROJECT_ID</key>
	<string>mtbride</string>
	<key>STORAGE_BUCKET</key>
	<string>mtbride.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968505919685:ios:abcb4c154718e504d748ac</string>
</dict>
</plist>